@import "../../../../../global.scss";

.header-pe-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  .items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;

    position: relative;

    .items {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      flex-basis: 100px;

      width: 160px;

      z-index: 10;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;

        padding: 8px;
        margin-bottom: 16px;

        font-size: 32px;
        font-weight: 800;
        border: solid 1px var(--ion-color-medium);
        border-radius: 50%;
      }

      .title {
        text-align: center;
        font-weight: 700;
        color: var(--ion-color-medium);
      }
    }
  }
}

.line {
  position: absolute;
  width: calc(50% + 32px);
  border-top: solid 1px var(--ion-color-medium);
  top: 24px;
  left: calc(50% + 24px);

  z-index: 9;
}

.selected {
  color: var(--ion-color-primary);
  border-color: var(--ion-color-primary) !important;
}

.completed {
  color: var(--ion-color-primary) !important;
  border-color: var(--ion-color-primary) !important;

  ion-text {
    color: var(--ion-color-light) !important;
  }

  background-color: var(--ion-color-primary);
}

.inprogress {
  color: var(--ion-color-primary);
  border-color: var(--ion-color-primary) !important;
  background-color: var(--ion-color-light);

  ion-text {
    color: var(--ion-color-primary) !important;
  }
}

.single-line {
  position: absolute;
  width: 100%;

  top: 24px;
  left: 20px;

  z-index: 9;
  border-top: solid 1px var(--ion-color-medium);
}

.header-wrp {
  display: flex;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 32px 0px;

  .item-container {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    width: -moz-available;

    .box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      position: relative;
      width: 200px;
      min-width: 64px;

      padding-bottom: 40px;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;

        padding: 8px;

        font-size: 32px;
        font-weight: 800;
        border: solid 1px var(--ion-color-medium);
        border-radius: 50%;
      }

      .timeline {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;

        height: 1px;
        border-bottom: solid 1px var(--ion-color-medium);
      }

      .line-gone {
        border-color: transparent;
      }

      .line-completed {
        border-color: var(--ion-color-primary);
      }

      .line-inprogress {
        border-color: var(--ion-color-primary);
      }
    }
  }
}

.title {
  position: absolute;
  top: 56px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

ion-hide-sm-down {
  display: flex;
}

// Media Queries

ion-hide-md-up {
  display: none !important;
}

@media screen and (max-width: 560px) {
  .mobile-title {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
  }

  .m-buttons {
    position: absolute;
    top: 97px;
  }

  .right {
    right: 24px;
  }

  .left {
    left: 24px;
  }

  ion-icon {
    color: black;
  }

  ion-hide-sm-down {
    display: none;
  }

  .header-wrp {
    margin-bottom: -40px;

    .item-container {
      .box {
        padding-top: 40px;
        width: 86px;
        padding-right: 2px;

        .timeline {
          border-color: transparent;
        }

        .circle {
          width: 90px;
          height: 2px;
          border-radius: 18px;
          padding: 4px;
          font-size: 0px;
        }
      }
    }
  }
}