@import "../../../../../global.scss";

.interaction-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  padding: 2px 4px;
}
.activity-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ion-button {
  --color: var(--ion-color-dark);
  --background: var(--ion-color-medium-contrast);
  --background-hover: var(--ion-color-medium-contrast);
  --background-activated: var(--ion-color-medium-contrast);

  &.selected {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
  }
}
.activity-col {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-self: center;
  height: 16px;
  width: 16px;
}

ion-grid {
  margin: 10px;
  padding: 0%;
}
.last-activity {
  background-color: rgba(255, 98, 0, 0.1);
}

@media screen and (max-width: 560px) {
  ion-grid {
    margin: 0px !important;
  }
  .activity-buttons {
    justify-content: center;
    padding: 2px;
  }
  .activity-col-2 {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
  }
  ion-button {
    font-size: 12.5px;
    padding: 0px 0px 1px 1px;
  }
}

@media (prefers-color-scheme: light) {
  #history-icon {
    background-image: url("../../../../../assets/icon/history_radio.svg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (prefers-color-scheme: dark) {
  #history-icon {
    background-image: url("../../../../../assets/icon/history_radio_dark.svg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
