@import "../../../../../global.scss";

.interaction-wrapper {
  display: flex;
  flex-direction: column;

  padding: 2px 6px;
}
.activity-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ion-button {
  --color: var(--ion-color-dark);
  --background: var(--ion-color-medium-contrast);
  --background-hover: var(--ion-color-medium-contrast);
  --background-activated: var(--ion-color-medium-contrast);
}

.activity-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 64px;
}

.logo {
  display: flex;
  justify-self: center;
  height: 16px;
  width: 16px;
}

ion-grid {
  margin: 10px !important;
}
@media (prefers-color-scheme: light) {
  #history-icon {
    background-image: url("../../../../../assets/icon/history_radio.svg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .highlight {
    background-color: var(--ion-color-light-shade);
  }
}

@media (prefers-color-scheme: dark) {
  #history-icon {
    background-image: url("../../../../../assets/icon/history_radio_dark.svg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .highlight {
    background-color: var(--ion-color-light-tint);
  }
}
