<!-- <div class="interaction-wrapper">
  <ion-grid>
    <ion-row *ngFor="let item of info?.historyInfo"
             [ngClass]="item.highlight ? 'highlight': ''">
      <ion-col size="2"
               size-lg="1"
               size-md="2"
               size-sm="2">
        {{item.date | date:'yyyy dd/MMM'}}
      </ion-col>

      <ion-col size="1"
               size-lg="1"
               size-md="1"
               size-sm="1"
               style="display: flex;  justify-content: center;">
        <div class="logo"
             id="history-icon"></div>
      </ion-col>

      <ion-col size="4"
               size-lg="3"
               size-md="3"
               size-sm="3">{{item.title}}</ion-col>
      <ion-col size="5"
               size-lg="7"
               size-md="4"
               size-sm="4">{{item.description}}</ion-col>
    </ion-row>
  </ion-grid>

  <div style="padding-left: 6px;">
    <app-observation [userId]="info.userId"
                     [displayBtn]="info.status !== statusTypes.COMPLETED"
                     (handleClick)="onButtonClick($event)">
    </app-observation>
  </div>
</div> -->
