<div class="interaction-wrapper" *ngIf="info">
  <div class="activity-buttons">
    <ion-button
      mode="ios"
      (click)="filterCustomerActivity(activityTypes.FOOTFALL)"
      [class.selected]="selectedFilter === activityTypes.FOOTFALL"
    >
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Visits</ion-label>
    </ion-button>
    <ion-button
      mode="ios"
      (click)="filterCustomerActivity(activityTypes.ICI)"
      [class.selected]="selectedFilter === activityTypes.ICI"
    >
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Interact</ion-label></ion-button
    >
    <ion-button
      mode="ios"
      (click)="filterCustomerActivity(activityTypes.APPOINTMENT)"
      [class.selected]="selectedFilter === activityTypes.APPOINTMENT"
    >
      <ion-icon name="location-sharp"> </ion-icon>
      <ion-label>Appoint</ion-label>
    </ion-button>

    <ion-button
      mode="ios"
      (click)="filterCustomerActivity(activityTypes.OCI)"
      [class.selected]="selectedFilter === activityTypes.OCI"
      ><ion-icon name="star"></ion-icon>
      <ion-label>Comms</ion-label></ion-button
    >
  </div>

  <ion-grid>
    <ion-row *ngFor="let item of info" [class.last-activity]="isLastItem(item)">
      <ion-col
        size="2"
        size-lg="2"
        size-md="2"
        size-sm="2"
        class="activity-date"
      >
        <label class="year">
          {{ item.date | date : "yyyy" }}
        </label>
        <label>
          <b>
            {{ item.date | date : "dd/MMM" }}
          </b>
        </label>
      </ion-col>
      <ion-col
        class="activity-col"
        size="4"
        size-lg="4"
        size-md="4"
        size-sm="4"
      >
        <ion-icon
          style="width: 26px; margin-left: 9px"
          [name]="getIconByType(item.type)"
        ></ion-icon>
        {{ item.description }}</ion-col
      >
      <ion-col
        size="6"
        size-md="6"
        size-sm="6"
        class="activity-col"
        style="word-spacing: 2px"
      >
        {{ item.observation ? item.observation : noComments }}</ion-col
      >
    </ion-row>
  </ion-grid>
</div>
