<div class="interaction-wrapper" *ngIf="info">
  <!-- <ion-button class="ion-hide-sm-up" color="light">
    <ion-icon name="settings-sharp"></ion-icon>
    <ion-label> Activity Types </ion-label>
  </ion-button> -->

  <div class="activity-buttons">
    <ion-button (click)="filterCustomerActivity(activityTypes.FOOTFALL)">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Visits</ion-label>
    </ion-button>
    <ion-button (click)="filterCustomerActivity(activityTypes.ICI)">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Interact</ion-label></ion-button
    >
    <ion-button (click)="filterCustomerActivity(activityTypes.APPOINTMENT)">
      <ion-icon name="location-sharp"> </ion-icon>
      <ion-label>Appoint</ion-label>
    </ion-button>

    <ion-button (click)="filterCustomerActivity(activityTypes.OCI)"
      ><ion-icon name="star"></ion-icon>
      <ion-label>Comms</ion-label></ion-button
    >
  </div>

  <ion-grid>
    <ion-row *ngFor="let item of info">
      <ion-col
        size="1"
        size-lg="1"
        size-md="1"
        size-sm="1"
        style="
          display: flex;
          justify-content: left;
          flex-wrap: wrap;
          align-content: center;
        "
        ><b> {{ item.date | date : "yyyy" }}</b>
        {{ item.date | date : "dd/MMM" }}</ion-col
      >
      <ion-col
        size="5"
        size-lg="3"
        size-md="3"
        size-sm="5"
        class="activity-col"
      >
        <ion-icon [name]="getIconByType(item.type)"></ion-icon>
        {{ item.description }}</ion-col
      >
      <ion-col size="6" size-md="8" size-sm="6" class="activity-col">
        {{ item.observation ? item.observation : noComments }}</ion-col
      >
    </ion-row>
  </ion-grid>
</div>
