@import "../../../../../global.scss";

.profile-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ion-label {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }

  ion-card {
    ion-card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      position: relative;
    }
  }
}

.unread {
  border: solid 1px var(--ion-color-primary);
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

em {
  color: var(--ion-color-primary) !important;
}

.emph {
  color: var(--ion-color-primary);
}

.poly-fill {
  fill: var(--ion-color-light);
}

.hex-wrapper {
  position: relative;
  z-index: 999;
}

.text-icon {
  position: absolute;
  top: 16px;
  left: 14px;
  font-size: 24px;
  color: var(--ion-color-primary);
}

.left {
  img {
    border: none;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
  }
}

.center {
  padding: 0px 16px;
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--ion-color-light);

  ion-icon {
    position: relative;

    cursor: pointer;
    font-size: 24px;
  }
}

.padded {
  padding: 0px 16px;
}

.exc-icon {
  position: absolute;
  top: 0px;
  right: 16px;
  border-radius: 50%;
  color: var(--ion-color-primary);
  background-color: var(--ion-color-light);
  z-index: 1;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 24px;
}
