@import "../../../../../global.scss";

.c-info-wrapper {
  display: flex;
  flex-direction: column;

  .split-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .hole-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background: var(--ion-color-light);

    padding: 12px 18px;

    .p-bars {
      width: 100%;
    }

    ion-icon {
      margin-right: 4px;
    }

    .disabled {
      filter: opacity(0.5);
    }
  }

  .add-info {
    margin-left: 0px;
  }

  .base-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    span {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.see-icon {
  margin-right: 8px;
}

.info-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;

  margin: 0px 4px;

  h4 {
    margin-bottom: 8px;
    margin-top: 12px;

    font-weight: 800;
    font-size: 16px;
  }

  .line {
    .line-key {
      font-size: 16px;
      font-weight: 500;
      padding-right: 8px;
    }

    .line-value {
      font-size: 16px;
      font-weight: 800;
    }
  }
}

.progress-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px 18px;
}

.side-by-side {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--ion-color-medium);
}

.content-text {
  font-weight: bold;
  width: 50%;
  margin-left: 12px;
}

.key {
  width: 50%;
}

ion-label {
  font-weight: bold;
}

#content {
  background: var(--ion-color-light);
  padding: 0px 18px;
}

@media screen and (max-width: 560px) {
  .side-by-side {
    flex-wrap: wrap;
  }
  .see-icon {
    margin-bottom: 8px;
  }
}
