<div class="c-info-wrapper" *ngIf="customerFullInfo">
  <ion-accordion-group
    [multiple]="true"
    [value]="['general', 'contact', 'contract']"
  >
    <div class="side-by-side" *ngIf="customerFullInfo as cRecord">
      <!-- General  -->
      <ion-accordion value="general" toggleIconSlot="start">
        <ion-item lines="none" slot="header" color="light">
          <ion-label>{{
            "interaction.data.customer-info" | translate
          }}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.birth-date" | translate
            }}</ion-text>
            <ion-text
              ><strong>{{ cRecord.dob | date : "dd/MMM" }} |</strong>
              {{ calculateAge(cRecord.dob) }} years old</ion-text
            >
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.objective" | translate
            }}</ion-text>
            <ion-text class="content-text">{{ cRecord.objective }}</ion-text>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.access" | translate
            }}</ion-text>
            <ion-text class="content-text">
              {{ cRecord.visits["7"] }} / {{ cRecord.visits["14"] }} /
              {{ cRecord.visits["28"] }} /
              {{ cRecord.visits["60"] }} days</ion-text
            >
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.ag" | translate
            }}</ion-text>
            <ion-text class="content-text">
              {{ cRecord.groupC["7"] }} / {{ cRecord.groupC["14"] }} /
              {{ cRecord.groupC["28"] }} /
              {{ cRecord.groupC["60"] }} days</ion-text
            >
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.shareAG" | translate
            }}</ion-text>
            <ion-text class="content-text">{{ cRecord.pp_gc }}%</ion-text>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.last-af" | translate
            }}</ion-text>
            <ion-text>
              <strong
                >{{ cRecord.last_appointment | date : "yyyy-MM-dd" }} |</strong
              >
              {{ calculateLastAppointment(cRecord.last_appointment) }} days
            </ion-text>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-text class="key" color="dark">{{
              "interaction.data.visit-length" | translate
            }}</ion-text>
            <ion-text class="content-text"
              >{{ cRecord.avg_stay }} mins</ion-text
            >
          </ion-item>
        </div>
      </ion-accordion>

      <!-- Contacts  -->
      <div class="info-section">
        <ion-accordion
          value="contact"
          *ngIf="customerFullInfo.contact"
          toggleIconSlot="start"
        >
          <ion-item lines="none" slot="header" color="light">
            <ion-label>{{
              "interaction.data.personal-info" | translate
            }}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item color="light" lines="none">
              <ion-text class="key" color="dark">{{
                "interaction.data.phone" | translate
              }}</ion-text>
              <ion-text class="content-text">{{
                cRecord.contact?.phone
              }}</ion-text>
            </ion-item>
            <ion-item color="light" lines="none">
              <ion-text class="key" color="dark">{{
                "interaction.data.email" | translate
              }}</ion-text>
              <ion-text class="content-text">{{
                cRecord.contact?.email
              }}</ion-text>
            </ion-item>
          </div>
        </ion-accordion>

        <!-- Contract -->
        <ion-accordion
          value="contract"
          toggleIconSlot="start"
          *ngIf="customerFullInfo as conType"
        >
          <ion-item lines="none" slot="header" color="light">
            <ion-label>{{
              "interaction.data.contract-info" | translate
            }}</ion-label>
          </ion-item>
          <div slot="content" *ngFor="let item of customerFullInfo.contract">
            <ion-item color="light" lines="none">
              <ion-text class="key" color="dark">{{
                "interaction.data.membership" | translate
              }}</ion-text>
              <ion-text>
                <strong>{{ item.date | date : "yyyy-MM-dd" }} |</strong>
                {{ calculateMembership(item.date) }} months
              </ion-text>
            </ion-item>
            <ion-item color="light" lines="none">
              <ion-text class="key" color="dark">{{
                "interaction.data.subscription-type" | translate
              }}</ion-text>
              <ion-text class="content-text">
                {{ item.subscription | translate }}
              </ion-text>
            </ion-item>
            <ion-item color="light" lines="none">
              <ion-text class="key" color="dark">{{
                "interaction.data.schedule" | translate
              }}</ion-text>
              <ion-text class="content-text">
                {{ item.schedule | translate }}
              </ion-text>
            </ion-item>
          </div>
        </ion-accordion>
      </div>
    </div>
    <!--  Additional Info -->
    <ion-accordion
      toggleIconSlot="start"
      *ngIf="info?.additionalInfo as addInfo"
    >
      <ion-item lines="none" slot="header" color="light">
        <ion-label>
          {{ "interaction.data.additional-info" | translate }}
        </ion-label>
      </ion-item>
      <div slot="content">
        <div class="hole-line">
          <div *ngFor="let icon of icons">
            <div
              class="see-icon md {{ icon.id }}"
              [ngClass]="{ 'icon-default-status': !isIconEnabled(icon) }"
            ></div>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div>
    <!-- Lifecycle -->
    <!-- <ion-accordion
      toggleIconSlot="start"
      *ngIf="data?.additionalInfo?.lifeCycle as lifeCycle"
    >
      <ion-item lines="none" slot="header" color="light">
        <ion-label> {{ lifeCycle.key | translate }} </ion-label>
      </ion-item>
      <div slot="content" id="content">
        <div class="p-bars">
          <div class="progress-labels">
            <ion-label *ngFor="let tLabel of lifeCycle.topLabels">
              {{ tLabel?.label }}
            </ion-label>
          </div>
          <ion-progress-bar [value]="lifeCycle.progress"></ion-progress-bar>
          <div class="progress-labels">
            <div *ngFor="let bLabel of lifeCycle.bottomLabels">
              {{ bLabel?.label }}
            </div>
          </div>
        </div>
      </div>
    </ion-accordion>  
 
  <div class="a-content"> -->
    <!--  Observation -->
    <app-observation [userId]="info.id" (handleClick)="onButtonClick($event)">
    </app-observation>
  </div>
</div>
