@import "../../../../../global.scss";

.c-info-wrapper {
  display: flex;
  flex-direction: column;

  .split-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .hole-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background: var(--ion-color-light);

    padding: 12px 18px;

    .p-bars {
      width: 100%;
    }

    ion-icon {
      margin-right: 4px;
    }

    .enabled {
      filter: opacity(0);
    }
    .icon-default-status {
      filter: opacity(0.5);
    }
  }

  .see-icon {
    margin-right: 8px;
  }

  .add-info {
    margin-left: 0px;
  }

  .base-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    span {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .side-by-side {
    display: flex;
    align-items: flex-start;
    .key {
      width: 35%;
      min-width: 136px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .a-content {
    padding: 10px;
    border-top: 0.5px solid var(--ion-color-shade);
  }
}

.info-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;

  margin: 0px 4px;

  h4 {
    margin-bottom: 8px;
    margin-top: 12px;

    font-weight: 800;
    font-size: 16px;
  }

  .line {
    .line-key {
      font-size: 16px;
      font-weight: 500;
      padding-right: 8px;
    }

    .line-value {
      font-size: 16px;
      font-weight: 800;
    }
  }
}

#content {
  background: var(--ion-color-light);
  padding: 0px 18px;
}

.content-text {
  align-items: start;
}
.bold {
  font-weight: bold;
}

ion-label {
  font-weight: bold;
}

.progress-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px 18px;
}

ion-item::part(native) {
  border: none;
}

.general-info {
  width: 45%;
}
.info-section {
  width: -webkit-fill-available;
  display: flex;
  align-items: start;
}

@media screen and (max-width: 780px) {
  .info-section {
    flex-wrap: wrap;
  }
  .general-info {
    width: 100%;
  }
}

// Mobile view

@media screen and (max-width: 560px) {
  .side-by-side {
    flex-wrap: wrap;
  }

  .see-icon {
    margin-bottom: 8px;
  }
  .general-info {
    width: 100%;
    width: -webkit-fill-available;
  }
}
