<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.inovfitness.seefit" version="1.0.1"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" ios-CFBundleVersion="11" android-versionCode="11">
  <name>SeeFit</name>
  <description>Sample Apache Cordova App</description>
  <author email="info@inovfitness.com" href="https://inovfitness.com">
        Inovfitness
  </author>
  <content src="index.html"/>
  <platform name="android">
    <preference name="android-minSdkVersion" value="22"/>
    <preference name="android-targetSdkVersion" value="33"/>
    <preference name="loadUrlTimeoutValue" value="30000"/>
    <preference name="hostname" value="localhost"/>
    <resource-file src="res/values/styles.xml" target="/app/src/main/res/values/styles.xml"/>
    <icon density="ldpi" src="res/icon/Icon-36.png"/>
    <icon density="mdpi" src="res/icon/Icon-48.png"/>
    <icon density="hdpi" src="res/icon/Icon-72.png"/>
    <icon density="xhdpi" src="res/icon/Icon-96.png"/>
    <icon density="xxhdpi" src="res/icon/Icon-144.png"/>
    <icon density="xxxhdpi" src="res/icon/Icon-192.png"/>
    <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:theme="@style/Seefit"/>
    </edit-config>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <preference name="deployment-target" value="11.0"/>
    <preference name="BackupWebStorage" value="local"/>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine"/>
    <preference name="WKWebViewOnly" value="true"/>
    <feature name="CDVWKWebViewEngine">
      <param name="ios-package" value="CDVWKWebViewEngine"/>
    </feature>
    <feature name="WKWebViewXHRFix">
      <param name="ios-package" value="WKWebViewXHRFix"/>
      <param name="onload" value="true"/>
    </feature>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>Allow users to scan barcodes and/or take a photograph for in-app usage</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      <string>Enable application to save photographs taken while running, as well as enabling users to select images from their library</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>
    <config-file target="*-Info.plist" parent="UIUserInterfaceStyle">
      <string>Light</string>
    </config-file>
    <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
      <true/>
    </config-file>
    <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
      <false/>
    </config-file>
    <icon height="180" src="res/icon/Icon-180.png" width="180"/>
    <icon height="60" src="res/icon/Icon-60.png" width="60"/>
    <icon height="120" src="res/icon/Icon-120.png" width="120"/>
    <icon height="76" src="res/icon/Icon-76.png" width="76"/>
    <icon height="152" src="res/icon/Icon-152.png" width="152"/>
    <icon height="40" src="res/icon/Icon-40.png" width="40"/>
    <icon height="80" src="res/icon/Icon-80.png" width="80"/>
    <icon height="57" src="res/icon/Icon-57.png" width="57"/>
    <icon height="114" src="res/icon/Icon-114.png" width="114"/>
    <icon height="72" src="res/icon/Icon-72.png" width="72"/>
    <icon height="144" src="res/icon/Icon-144.png" width="144"/>
    <icon height="167" src="res/icon/Icon-167.png" width="167"/>
    <icon height="29" src="res/icon/Icon-29.png" width="29"/>
    <icon height="58" src="res/icon/Icon-58.png" width="58"/>
    <icon height="87" src="res/icon/Icon-87.png" width="87"/>
    <icon height="50" src="res/icon/Icon-50.png" width="50"/>
    <icon height="100" src="res/icon/Icon-100.png" width="100"/>
    <icon height="167" src="res/icon/Icon-167.png" width="167"/>
    <icon height="1024" src="res/icon/Icon-store-apple.png" width="1024"/>
    <splash src="res/splash/Default@2x~universal~anyany.png"/>
  </platform>
  <allow-navigation href="*"/>
  <allow-intent href="*"/>
  <hook src="scripts/env_setup.js" type="after_prepare"/>
  <origin href="*" subdomains="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarStyle" value="default"/>
  <preference name="StatusBarBackgroundColor" value="#FFFFFF"/>
</widget>