@import "../../../../../global.scss";

.profile-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ion-label {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }

  .input-wrapper {
    margin-bottom: 16px;

    .custom {
      display: flex;
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: 580px) {
  .submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 0px 4px;

    ion-button {
      width: -webkit-fill-available;
    }
  }
}

@media screen and (min-width: 580px) {
  .submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 4px;

  }
}
