<!-- Page Header -->
<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<div class="filter-bar">
  <!-- TODO: Group all in one action Sheet for small devices -->
  <!-- Search -->
  <ion-searchbar [debounce]="500"
                 (ionChange)="handleSearch($event)"
                 [value]="searchValue">
  </ion-searchbar>

  <!-- Filters -->
  <!-- Filter on small device -->
  <ion-button class="hidden-small-device"
              shape="round"
              color="light"
              size="small"
              id="open-modal">
    <ion-icon slot="icon-only"
              name="funnel"></ion-icon>
  </ion-button>

  <!-- Filter - Action Sheet (small device) -->
  <ion-modal trigger="open-modal"
             id="filter-modal"
             (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'interaction.filters.title' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()"
                        [strong]="true">{{ 'interaction.filters.ok' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <span class="filters">
          <div class="switch-wrp-popup"
               *ngFor="let filter of filterList; let i = index">
            <label>{{ filter.label | translate }}</label>
            <ion-toggle mode="ios"
                        (ionChange)="onFilterToggle($event, i)"
                        [checked]="filter.checked"
                        [disabled]="filter.disabled || (i !== 0 && !filterList[0]?.checked)">
            </ion-toggle>
          </div>
        </span>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Filter on large device -->
  <span class="lg-filters hidden-big-device">
    <div class="switch-wrp"
         *ngFor="let filter of filterList; let i = index">
      <ion-toggle mode="ios"
                  (ionChange)="onFilterToggle($event, i)"
                  [checked]="filter.checked"
                  [disabled]="filter.disabled || (i !== 0 && !filterList[0]?.checked)">
      </ion-toggle>
      <label>{{ filter.label | translate }}</label>
    </div>
  </span>
</div>

<!-- Page Content -->
<ion-content>
  <ng-container [ngSwitch]="currentPhase">

    <!-- Empty Template -->
    <div *ngSwitchCase="phaseEnum.empty">
      <app-empty-state [title]="(searchValue && 'interaction.empty.empty-search-title' | translate : { query: searchValue }) || ('interaction.empty.empty-title' | translate)"
                       [footer]="(searchValue && 'interaction.empty.empty-search-footer' | translate : { query: searchValue }) || ('interaction.empty.empty-footer' | translate)"
                       [type]="'empty'">
      </app-empty-state>
    </div>

    <!-- Error Template -->
    <div *ngSwitchCase="phaseEnum.error">
      <app-empty-state [title]="'interaction.error.error-title' | translate"
                       [footer]="'interaction.error.error-footer' | translate"
                       [type]="'error'">
      </app-empty-state>
    </div>

    <!-- Success Template -->
    <div *ngSwitchCase="phaseEnum.success">
      <!-- Refresher -->
      <ion-refresher slot="fixed"
                     (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>


      <!-- List -->
      <ion-accordion-group>
        <ion-accordion [value]="i"
                       *ngFor="let item of list; let i = index">

          <!-- TODO: refactor the ion-item to ici-list-header -->
          <!-- <app-ici-list-header item></app-ici-list-header> -->
          <ion-item slot="header"
                    color="light">

            <div class="icon-avatar">

              <div class="col-icons">
                <ion-icon slot="icon-only"
                          *ngFor="let icon of item?.customerInfo?.additionalInfo?.icons | slice:0:3"
                          [name]="icon"
                          color="medium">
                </ion-icon>
              </div>

              <!-- Avatar -->
              <ion-avatar>
                <img alt="Silhouette of a person's head"
                     [src]="item?.imageUrl" />
              </ion-avatar>

            </div>

            <div class="col-wrapper">

              <!-- Left Column -->
              <div class="column">
                <!-- Title -->
                <ion-label>
                  <ion-text color="primary">
                    <b>{{item?.title}}</b>
                  </ion-text>
                </ion-label>
                <!-- Risk -->
                <ion-label>
                  <ion-text color="medium">
                    {{item?.primary?.label}}
                  </ion-text>
                  <ion-text color="secondary">
                    {{item?.primary?.value}}
                  </ion-text>
                </ion-label>
                <!-- Usage -->
                <ion-label>
                  <ion-text color="medium">
                    {{item?.secondary?.label}}
                  </ion-text>
                  <ion-text color="secondary">
                    {{item?.secondary?.value}}
                  </ion-text>
                </ion-label>
              </div>

              <!-- Right Column -->
              <div class="column right"
                   slot="end">
                <!-- Interaction Type -->
                <ion-label class="right">
                  <ion-text color="secondary">
                    {{item?.interaction?.value}}
                  </ion-text>
                </ion-label>
                <!-- Date -->
                <ion-label class="right">
                  <ion-text color="medium">
                    {{item?.date}}
                  </ion-text>
                </ion-label>
                <!-- Status -->
                <div class="right">
                  <ion-chip color="medium">
                    <ion-text color="primary"
                              style="font-size: smaller;">
                      {{item?.status}}
                    </ion-text>
                  </ion-chip>
                </div>

              </div>
            </div>

          </ion-item>


          <!-- Expanded Content -->
          <div class="expanded-content"
               slot="content">

            <!-- Tab List -->
            <ion-segment [value]="activeTabList[i]"
                         (ionChange)="onTabChange($event, i)"
                         mode="md">
              <ion-segment-button *ngFor="let tab of tabs; let i = index"
                                  [value]="tab.id">
                <ion-label>{{tab.title | translate}}</ion-label>
              </ion-segment-button>
            </ion-segment>

            <!-- Tab Content -->
            <div *ngIf="activeTabList[i] === '0'">
              <app-customer-info [info]="item"
                                 (handleClick)="onButtonClick($event)"></app-customer-info>
            </div>
            <div *ngIf="activeTabList[i] === '1'">
              <app-interaction-info [info]="item"
                                    (handleClick)="onButtonClick($event)"></app-interaction-info>
            </div>
            <div *ngIf="activeTabList[i] === '2'">
              <app-history [info]="item"
                           (handleClick)="onButtonClick($event)"></app-history>
            </div>

          </div>

        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ng-container>
</ion-content>


<!-- Page Footer -->
<!-- <ion-footer color="transparent">
  <ion-chip>
    Some Footer
  </ion-chip>
</ion-footer> -->
