@import "../../../../global.scss";

.interaction-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%; // Needed for table scroll

  .header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 16px;

    .search-wrp {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 40%;
    }

    .filters {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;

      min-height: 44px;

      .switch-wrp {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;

        margin-left: 8px;

        white-space: nowrap;

        font-size: 14px;
        font-weight: 600;

        label {
          line-break: strict;
        }

        :first-child {
          margin-right: 8px;
        }
      }
    }
  }

  .table-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 16px;
    overflow-y: auto;
  }

  .footer-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 64px;
    padding: 16px;

    div {
      display: flex;
      align-items: center;

      font-size: 14px;

      &:first-child {
        margin-right: 8px;
        font-weight: bold;
      }
    }
  }
}

.tbl-center {
  justify-content: center !important;
  align-items: center;
}

.exp-panel {
  width: 100%;
}
