@import "../../../../global.scss";

.filter-bar {
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-right: 8px;

  ion-searchbar {}

  ion-button {
    min-height: 36px;

    // width: 170px;
  }

}

ion-content {
  // padding-top: 144px;

  .filter-bar {
    display: flex;
    // justify-content: center;
    align-items: center;
  }

}

ion-footer {
  padding-bottom: 20px;
}
