<!-- Page Header -->
<ion-header type="ios">
  <ion-toolbar></ion-toolbar>
</ion-header>

<!-- Tab Filters -->
<div class="tab-wrapper">
  <ion-item lines="full">
    <ion-button
      class="hidden-small-device"
      fill="clear"
      (click)="prevTab($event)"
    >
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-button>

    <ion-segment
      class="segment"
      *ngFor="let filter of filterList; let i = index"
      [(ngModel)]="selectedFilterTab"
      [scrollable]="true"
      mode="md"
      (ionChange)="onFilterToggle($event, filter.id)"
    >
      <ion-segment-button [value]="filter">
        <label>{{ filter.id + filteredCustomerCount | translate }} </label>
      </ion-segment-button>
    </ion-segment>
    <ion-button
      class="hidden-small-device"
      fill="clear"
      (click)="nextTab($event)"
    >
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
</div>

<div class="filter-bar">
  <!-- TODO: Group all in one action Sheet for small devices -->
  <!-- Search -->
  <ion-searchbar
    color="light"
    [debounce]="500"
    (ionChange)="handleSearch($event)"
    [value]="searchValue"
  >
  </ion-searchbar>
  <ion-button
    shape="round"
    color="light"
    size="small"
    (click)="handleRefresh($event)"
  >
    <ion-icon name="refresh"></ion-icon>
  </ion-button>
</div>

<!-- Page Content -->
<ion-content>
  <ng-container [ngSwitch]="currentPhase">
    <!-- Empty Template -->
    <div *ngSwitchCase="phaseEnum.empty">
      <app-empty-state
        [title]="
          (searchValue && 'interaction.empty.empty-search-title'
            | translate : { query: searchValue }) ||
          ('interaction.empty.empty-title' | translate)
        "
        [footer]="
          (searchValue && 'interaction.empty.empty-search-footer'
            | translate : { query: searchValue }) ||
          ('interaction.empty.empty-footer' | translate)
        "
        [type]="'empty'"
      >
      </app-empty-state>
    </div>

    <!-- Error Template -->
    <div *ngSwitchCase="phaseEnum.error">
      <app-empty-state
        [title]="'interaction.error.error-title' | translate"
        [footer]="'interaction.error.error-footer' | translate"
        [type]="'error'"
      >
      </app-empty-state>
    </div>

    <!-- Success Template -->
    <div *ngSwitchCase="phaseEnum.success">
      <!-- Refresher -->
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <!-- List -->
      <ion-accordion-group mode="ios">
        <ion-accordion
          [value]="i"
          mode="ios"
          *ngFor="let item of list; let i = index"
        >
          <!-- Header -->

          <app-ici-header [item]="item" slot="header"> </app-ici-header>

          <!-- Expanded Content -->
          <div class="expanded-content" slot="content">
            <!-- Tab List -->
            <ion-segment
              [value]="activeTabList[i]"
              (ionChange)="onTabChange($event, i)"
              mode="md"
            >
              <ion-segment-button
                *ngFor="let tab of tabs; let i = index"
                [value]="tab.id"
              >
                <ion-label>{{ tab.title | translate }}</ion-label>
              </ion-segment-button>
            </ion-segment>

            <!-- Tab Content -->
            <div class="expanded-area" *ngIf="activeTabList[i] === '0'">
              <!-- <app-customer-info
                [info]="item"
                (handleClick)="onButtonClick($event)"
              ></app-customer-info>s
            </div>
            <div class="expanded-area" *ngIf="activeTabList[i] === '1'">
              <app-interaction-info
                [info]="item"
                (handleClick)="onButtonClick($event)"
              ></app-interaction-info>
            </div>
            <div class="expanded-area" *ngIf="activeTabList[i] === '2'">
              <app-history
                [info]="item"
                (handleClick)="onButtonClick($event)"
              ></app-history> -->
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ng-container>
</ion-content>

<!-- Page Footer -->
<ion-footer mode="ios" collapse="fade">
  <ion-toolbar>
    <div class="counter">
      {{ "interaction.footer.label" | translate : { total: list.length } }}
    </div>
  </ion-toolbar>
</ion-footer>
