<div class="interaction-wrapper">
  <!-- Header Row -->
  <div class="header-row">
    <!-- Search Bar -->
    <span class="search-wrp">
      <lib-search-bar
        style="width: -webkit-fill-available"
        [value]="searchValue"
        (stateChange)="handleSearch($event)"
        [filter]="false"
      >
      </lib-search-bar>
      <lib-round-button
        style="margin-left: 16px"
        [disabled]="currentPhase === phaseEnum.loading"
        (stateChange)="resetData()"
      >
        <ng-template #btnIcon>
          <div class="refresh see-icon sm"></div>
        </ng-template>
      </lib-round-button>
    </span>
    <!-- Filters -->
    <span class="filters">
      <div class="switch-wrp" *ngFor="let filter of filterList; let i = index">
        <label>{{ filter.label | transloco }}</label>
        <lib-switch
          (stateChange)="handleFilterToggle($event, i)"
          [checked]="filter.checked"
          [disabled]="filter.disabled || (i !== 0 && !filterList[0]?.checked)"
        ></lib-switch>
      </div>
    </span>
  </div>
  <!-- Table -->
  <div
    class="table-row"
    [ngClass]="{ 'tbl-center': currentPhase !== phaseEnum.success }"
  >
    <ng-container [ngSwitch]="currentPhase">
      <!-- Loading Template -->
      <div *ngSwitchCase="phaseEnum.loading"><lib-spinner></lib-spinner></div>
      <!-- Empty Template -->
      <div *ngSwitchCase="phaseEnum.empty">
        <app-empty-state
          [title]="
            (searchValue && 'interaction.empty.empty-search-title'
              | transloco : { query: searchValue }) ||
            ('interaction.empty.empty-title' | transloco)
          "
          [footer]="
            (searchValue && 'interaction.empty.empty-search-footer'
              | transloco : { query: searchValue }) ||
            ('interaction.empty.empty-footer' | transloco)
          "
          [type]="'empty'"
        >
        </app-empty-state>
      </div>
      <!-- Error Template -->
      <div *ngSwitchCase="phaseEnum.error">
        <app-empty-state
          [title]="'interaction.error.error-title' | transloco"
          [footer]="'interaction.error.error-footer' | transloco"
          [type]="'error'"
        >
        </app-empty-state>
      </div>
      <!-- Success Template -->
      <div *ngSwitchCase="phaseEnum.success">
        <ng-container *ngIf="list && list.length > 0">
          <lib-expansion-panel
            *ngFor="let item of list; let i = index"
            [isOpen]="false"
          >
            <!-- Accordion Header -->
            <ng-template #accHeader>
              <app-ici-list-header
                ngClass="exp-panel"
                [data]="item"
              ></app-ici-list-header>
            </ng-template>

            <!-- Accordion Body -->
            <ng-template #accBody>
              <lib-tabs
                [tabs]="tabs"
                [activeTab]="activeTabList[i]"
                (tabChanged)="onTabChange($event, i)"
              >
                <div *ngIf="activeTabList[i] === '0'">
                  <app-customer-info
                    [info]="item"
                    (handleClick)="onButtonClick($event)"
                  ></app-customer-info>
                </div>
                <div *ngIf="activeTabList[i] === '1'">
                  <app-interaction-info
                    [info]="item"
                    (handleClick)="onButtonClick($event)"
                  ></app-interaction-info>
                </div>
                <div *ngIf="activeTabList[i] === '2'">
                  <app-history
                    [info]="item"
                    (handleClick)="onButtonClick($event)"
                  ></app-history>
                </div>
              </lib-tabs>
            </ng-template>
          </lib-expansion-panel>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <!-- Footer -->
  <div class="footer-row">
    <div>{{ list && list.length }}</div>
    <div>{{ 'interaction.footer' | transloco }}</div>
  </div>
</div>
