@import "../../../../global.scss";

.filter-bar {
  display: flex;
  align-items: center;

  margin-top: 27px;
  margin-right: 8px;

  ion-button {
    min-height: 36px;
  }

}

.switch-wrp-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
}

.lg-filters {
  display: flex;
  flex-direction: row;

  margin-right: 20px;

  .switch-wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: fit-content;
    margin-left: 12px;

    label {
      margin-top: 4px;
    }
  }
}

ion-content {

  ion-accordion-group {
    ion-accordion {
      display: flex;
      flex-direction: column;

      .expanded-content {
        display: flex;
        flex-direction: column;

        // margin: 0px 16px;
      }
    }
  }
}

ion-segment {
  padding: 0px 16px;
}

.counter {
  margin-left: 12px;
}

ion-footer {
  padding-bottom: 20px;
}

.expanded-area {
  background-color: var(--ion-color-light);
}
