@import "../../../../../global.scss";

.interaction-wrapper {
  display: flex;
  flex-direction: column;

  padding: 0px 12px;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px 4px;
  }
}

.observation {
  text-align: justify;
  font-size: 16px;
}

// Buttons

.btn-group {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 10px;
}

.btn-create {
  width: 20%;
  align-self: end;
}

.btn-discard {
  width: 25%;
}
.btn-submit {
  width: 25%;
}
ion-button {
  --border-radius: 0%;
}

@media screen and (max-width: 568px) {
  .btn-group {
    display: block !important;
    .btn-discard {
      width: 100% !important;
    }
    .btn-submit {
      width: 100% !important;
    }
    .observation {
      font-size: 15px;
    }
  }
  .btn-create {
    width: 100%;
    align-self: center;
  }
}

// Input border bottom color on focus
ion-item {
  --background: transparent;

  .has-focus {
    border-bottom: solid 1px var(--ion-color-dark);
  }
}
