<div class="interaction-wrapper">
  <!-- <div class="inner-wrapper" *ngIf="info" [innerHTML]="info | safeHtml"></div> -->

  <ng-container>
    <ion-item mode="ios">
      <ion-select
        [placeholder]="'interaction.tabs.interaction.label.default' | translate"
        mode="ios"
        label="{{ 'interaction.tabs.interaction.label.label' | translate }}"
        label-placement="floating"
        fill="solid"
        (ionChange)="onInteractionChange($event)"
      >
        <ion-select-option
          *ngFor="let interactionOpt of interactionList"
          [value]="interactionOpt.name"
          >{{ interactionOpt.name | translate }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item mode="md">
      <ion-input
        class="custom"
        mode="md"
        type="text"
        [value]="details"
        [placeholder]="
          'interaction.tabs.interaction.details.placeholder' | translate
        "
        label="{{ 'Description' }}"
        labelPlacement="floating"
        (ionChange)="onDetailsKeyup($event)"
      >
      </ion-input>
    </ion-item>
  </ng-container>

  <!-- Buttons -->
  <span class="btn-group">
    <ion-button
      class="btn-discard"
      fill="outline"
      (click)="onButtonClick(false)"
      >{{ "interaction.data.btn-discard" | translate }}
    </ion-button>
    <ion-button class="btn-submit" fill="solid" (click)="onButtonClick(true)">{{
      "interaction.data.btn-submit" | translate
    }}</ion-button>
  </span>
</div>
