@import "../../../../../global.scss";

.interaction-wrapper {
  display: flex;
  flex-direction: column;

  padding: 0px 12px;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px 4px;
  }

  ion-button {
    display: flex;
    align-self: flex-end;
    margin: 24px 12px;
  }
}
