<div class="interaction-wrapper">
  <ng-container *ngIf="interaction?.status === statusTypes.COMPLETED">
    <ion-item lines="full" mode="ios">
      <ion-label position="floating"
        >{{ "interaction.tabs.interaction.type.label" | translate
        }}<span class="required">*</span></ion-label
      >
      <ion-select
        [placeholder]="'interaction.tabs.interaction.type.default' | translate"
        [disabled]="!true"
        mode="ios"
        fill="solid"
        [(ngModel)]="selectedType"
        (ionChange)="onTypeChange($event)"
      >
        <ion-select-option
          *ngFor="let typeOpt of getStatusTypesArray()"
          [value]="typeOpt"
          >{{ typeOpt | translate }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item lines="full" mode="ios">
      <ion-label position="floating"
        >{{ "interaction.tabs.interaction.title" | translate
        }}<span class="required">*</span></ion-label
      >
      <ion-select
        [placeholder]="'interaction.tabs.interaction.label.default' | translate"
        [disabled]="!this.selectedType"
        mode="ios"
        fill="solid"
        [(ngModel)]="selectedInteraction"
        (ionChange)="onInteractionChange($event)"
      >
        <ion-select-option
          *ngFor="let interaction of interactionList"
          [value]="interaction.name"
        >
          {{ interaction.name | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full" mode="md">
      <ion-label color="dark" position="stacked"
        >{{ "interaction.tabs.interaction.details.label" | translate
        }}<ion-text color="primary">*</ion-text></ion-label
      >
      <ion-input
        class="custom"
        mode="md"
        type="text"
        [(ngModel)]="details"
        [placeholder]="
          'interaction.tabs.interaction.details.placeholder' | translate
        "
        labelPlacement="stacked"
        [disabled]="!selectedInteraction"
        (ionInput)="onDetailsInput($event)"
      >
      </ion-input>
    </ion-item>

    <ion-button
      class="btn-create"
      fill="solid"
      size="default"
      [disabled]="!details"
      (click)="createInteraction(true)"
    >
      {{ "interaction.tabs.interaction.details.create" | translate }}
    </ion-button>
  </ng-container>

  <div *ngIf="interaction?.status === statusTypes.PLANNED">
    <div>
      <h5>{{ "interaction.tabs.interaction.description" | translate }}</h5>
      <span class="observation" [innerHTML]="interaction?.observation"></span>
      <span>
        <ion-item color="light ion-no-padding" mode="md">
          <ion-input
            class="custom"
            mode="md"
            color="medium"
            type="text"
            [placeholder]="''"
            [label]="'interaction.tabs.interaction.details.note'"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
      </span>

      <span class="btn-group">
        <ion-button
          class="btn-submit"
          fill="solid"
          (click)="onButtonClick(true)"
          >{{ "interaction.data.btn-submit" | translate }}</ion-button
        >
        <ion-button
          class="btn-discard"
          fill="outline"
          (click)="onButtonClick(false)"
          >{{ "interaction.data.btn-discard" | translate }}
        </ion-button>
      </span>
    </div>
  </div>
</div>
