@import '../../../../core/styles/styles.scss';

.interaction-wrapper {
  display: flex;
  flex-direction: column;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px 4px;
  }
  .details-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;

    .lib-input {
      border-radius: 0px;
      margin: 16px 4px;
      width: 100%;
      color: black !important;
    }
    .lib-btn {
      margin: 8px 0px 0px 8px;
    }
  }
}
