@import "../../../../../global.scss";

ion-item {
  .icon-avatar {
    display: flex;
    flex-direction: row;

    .col-icons {
      display: flex;
      justify-content: center;
      flex-direction: column;

      ion-icon {
        margin-bottom: 4px;
      }

      :last-child {
        margin-bottom: 0px;
      }
    }

    ion-avatar {
      min-height: 50px;
      min-width: 50px;
      max-height: 150px;
      max-width: 150px;
      margin: 8px;
    }
  }

  .col-wrapper {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: 1;
    justify-content: space-between;

    margin: 8px 0px;

    .column {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
  }
}

.expanded-content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 580px) {
  .icon-avatar {
    display: flex;
    flex-direction: column-reverse !important;

    .col-icons {
      display: flex;
      justify-content: center;
      flex-direction: row !important;

      ion-icon {
        margin-right: 4px;
      }

      :last-child {
        margin-right: 0px;
      }
    }

    ion-avatar {
      min-height: 50px;
      min-width: 50px;
      max-height: 150px;
      max-width: 150px;
      margin: 8px;
    }
  }

  .col-wrapper {
    display: flex;
    flex-direction: column !important;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: 1;
  }

  .right {
    align-self: flex-start !important;
  }
}

.right {
  align-self: flex-end;
}

ion-chip {
  height: 24px;
  font-size: small;
  margin-right: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.completed-chip {
  background-color: var(--ion-color-primary);
}

.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 6px;
}

.lbl {
  padding: 6px;
  margin-right: 8px;

  border-radius: 6px;
  color: var(--ion-color-dark);
  background-color: var(--ion-color-light);
}
