<ion-item slot="header" mode="ios" button>
  <div class="icon-avatar">
    <div class="col-icons">
      <div
        class="see-icon md {{ icon.icon }}"
        [ngClass]="{ disabled: icon.isDisabled }"
        *ngFor="
          let icon of item?.customerInfo?.additionalInfo?.icons | slice : 0 : 3
        "
      ></div>
    </div>

    <!-- Avatar -->
    <ion-avatar>
      <img alt="Silhouette of a person's head" [src]="item.imageUrl" />
    </ion-avatar>
  </div>

  <div class="col-wrapper">
    <!-- Left Column -->
    <div class="column">
      <!-- Title -->
      <ion-label
        [routerLink]="['/platform/customer/' + item.userId]"
        routerLinkActive="router-link-active"
      >
        <ion-text color="primary">
          <b>{{ item.title }}</b>
        </ion-text>
      </ion-label>
      <!-- Risk -->
      <div class="labels hidden-big-device">
        <div class="lbl">
          {{ item.primary.value }}
        </div>
        <!-- Usage -->
        <div class="lbl">{{ item.secondary.value }}</div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="column right" slot="end">
      <!-- Date -->
      <ion-label class="right">
        <ion-text color="medium">
          {{ item.date }}
        </ion-text>
      </ion-label>
      <!-- Status -->
      <div class="right">
        <ion-chip color="medium">
          <ion-text color="primary" style="font-size: smaller">
            {{ item.status }}
          </ion-text>
        </ion-chip>
      </div>
      <!-- Interaction Type -->
      <ion-label class="right">
        <ion-text color="secondary">
          {{ item.interaction.value }}
        </ion-text>
      </ion-label>
    </div>
  </div>
</ion-item>
