.see-icon {
	width: 148px;
	height: 148px;
	display: block;
	background-image: url('../../../../assets/icons/close.svg');
	background-size: 48px;

	&.xl {
		width: 80px;
		height: 80px;
		background-size: 80px;
	}

	&.lg {
		width: 32px;
		height: 32px;
		background-size: 32px;
	}

	&.md {
		width: 24px;
		height: 24px;
		background-size: 24px;
	}

	&.sm {
		width: 18px;
		height: 18px;
		background-size: 18px;
	}

	&.apple {
		background-image: url('../../../../assets/icons/apple.svg');
	}

	&.bell {
		background-image: url('../../../../assets/icons/bell.svg');
	}

	&.calculator {
		background-image: url('../../../../assets/icons/calculator.svg');
	}

	&.calendar {
		background-image: url('../../../../assets/icons/calendar.svg');
	}

	&.chevron-down {
		background-image: url('../../../../assets/icons/chevron-down.svg');
	}
	&.chevron-up {
		background-image: url('../../../../assets/icons/chevron-up.svg');
	}

	&.clock {
		background-image: url('../../../../assets/icons/clock.svg');
	}

	&.close {
		background-image: url('../../../../assets/icons/close.svg');
	}

	&.dashboard {
		background-image: url('../../../../assets/icons/dashboard.svg');
	}

	&.date {
		background-image: url('../../../../assets/icons/date.svg');
	}

	&.dumbbell {
		background-image: url('../../../../assets/icons/dumbbell.svg');
	}

	&.edit {
		background-image: url('../../../../assets/icons/edit.svg');
	}

	&.expand {
		background-image: url('../../../../assets/icons/expand.svg');
	}

	&.filter {
		background-image: url('../../../../assets/icons/filter.svg');
	}

	&.graph {
		background-image: url('../../../../assets/icons/graph.svg');
	}

	&.interaction {
		background-image: url('../../../../assets/icons/interaction.svg');
	}

	&.invisibility {
		background-image: url('../../../../assets/icons/invisibility.svg');
	}

	&.loading {
		background-image: url('../../../../assets/icons/loading.svg');
	}

	&.menu {
		background-image: url('../../../../assets/icons/menu.svg');
	}

	&.molecule {
		background-image: url('../../../../assets/icons/molecule.svg');
	}

	&.origin {
		background-image: url('../../../../assets/icons/origin.svg');
	}

	&.refresh {
		background-image: url('../../../../assets/icons/refresh.svg');
	}

	&.retract {
		background-image: url('../../../../assets/icons/retract.svg');
	}

	&.search {
		background-image: url('../../../../assets/icons/search.svg');
	}

	&.square {
		background-image: url('../../../../assets/icons/square.svg');
	}

	&.target {
		background-image: url('../../../../assets/icons/target.svg');
	}

	&.triangle {
		background-image: url('../../../../assets/icons/triangle.svg');
	}

	&.user {
		background-image: url('../../../../assets/icons/user.svg');
	}

	&.user-check {
		background-image: url('../../../../assets/icons/user-check.svg');
	}

	&.user-circle {
		background-image: url('../../../../assets/icons/no-avatar.svg');
	}
}
