$black: #010101;
$dark-grey: #343434;
$med-grey: #575c61;
$light-grey: #fafafa;
$white: white;

$blue: #3c76cc;
$dark-blue: #2a5492;
$coral: #ff5c6b;

$primary: #f17a59;
$secondary: #d1d1d1;
$error: #ec2c04;
$purple: #755c8e;

$red: #ff0000;
$orange: #f17a59;
$green: #37844e;
$label-grey: #b4b4b4;
$bg-grey: #ecebe8;
