.accordion-group {
  padding: 20px;
}

.accordion {
  margin: 10px;
}

.tp-buttons {
  padding: 20px;
  display: flex;
  justify-content: center;
  .btn-start {
    color: var(--ion-color-primary);
    border: solid 1px;
    border-radius: 10px;
    margin: 7px;
  }
  .btn-plan {
    margin: 7px;
    color: var(--ion-color-primary);
    border: solid 1px;
    border-radius: 10px;
    margin: 7px;
  }
}
.nav-buttons {
  position: relative;
  margin-top: 2%;
  padding: 20px;
  text-align: right;
}

.btn-before {
  margin-right: 20px;
}
ion-accordion-group {
  ion-accordion.accordion-collapsing ion-item[slot="header"],
  ion-accordion.accordion-collapsed ion-item[slot="header"] {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
  }

  ion-accordion.accordion-expanding ion-item[slot="header"],
  ion-accordion.accordion-expanded ion-item[slot="header"] {
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-primary);
  }
  ion-accordion.accordion-expanded {
    border: solid 1px var(--ion-color-primary);
  }
}

.ion-padding {
  .title {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-bottom: 24px !important;
  }
  .group {
    margin-bottom: 12px !important;
  }
  .q-group {
    margin-top: 12px;
  }
}
