@import "../../../../global.scss";

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  margin: 30px;
  padding-top: 40px;
  margin-inline: 15px;
}

.step-title {
  margin-bottom: 20px;
  color: var(--ion-color-primary);
}

.group-title {
  flex-grow: 1;
  color: var(--ion-color-primary);
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.question-group {
  flex-direction: row;
  align-items: flex-start;
}

.prompt-title {
  width: 45%;
}

.answer-options {
  align-content: center;
  width: 55%;
}

ion-item {
  --border-color: var(--ion-color-primary);
}
