<!-- Page Header -->
<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <!-- Insert second menu here -->
  <div class="user-content-wrapper">
    <app-user-menu class="user-menu"
                   [ngClass]="!isOpen ? 'user-menu': 'user-menu-hide'"
                   [isOpen]="isOpen"
                   (itemClicked)="itemClicked()"></app-user-menu>

    <!-- Menu routes outlet -->
    <div class="router-wrapper"
         [ngClass]="isOpen ? '': 'hidden'">
      <ion-icon name="close-outline"
                size="large"
                (click)="close()"></ion-icon>
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
