<!-- Page Header -->
<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<div class="filter-bar">
  asd2
  <br>d
  <br>
  sss2
</div>
<!-- SideBar Closed -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only"
                    name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <div class="logo"
         id="inov-fitness-logo"></div>
  </ion-toolbar>
</ion-header> -->
asd3
