@import "../../../../global.scss";

.user-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: -webkit-fill-available;

  app-user-menu {
    width: 100%;
  }
}

@media screen and (min-width: 580px) {
  .user-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: -webkit-fill-available;

    app-user-menu {
      width: -webkit-fill-available;
      max-width: 300px;
    }
  }
}
