<div class="profile-wrapper"
     *ngIf="userService.notification$ | async as notifications">

  <ion-label><b>{{ 'user.notification.title' | translate }}</b></ion-label>

  <ion-card *ngFor="let item of notifications">
    <ion-card-header>

      <div class="left">
        <!-- <div class="hex-wrapper">
          <ion-icon class="text-icon"
                    name="barbell-outline"></ion-icon>
          <svg viewBox="
          40
          30
          250
          250">
            <defs>
              <g id="pod">
                <polygon stroke="#f17a59"
                         class="poly-fill"
                         stroke-width="0.5"
                         points="5,-9 -5,-9 -10,0 -5,9 5,9 10,0" />

              </g>
            </defs>

            <g class="pod-wrap">
              <use xlink:href="#pod"
                   transform="translate(50, 41)" />
            </g>
          </svg>
        </div> -->
      </div>

      <div class="center">
        <ion-card-title [innerHTML]="item.title | safeHtml">
        </ion-card-title>

      </div>

      <div class="right-col">
        <div class="emph"
             [innerHTML]="item.date | date: 'dd/MM/yyyy'"></div>
        <div class="emph"
             [innerHTML]="item.date | date: 'hh:mm'"></div>
        <div class="emph"
             [innerHTML]="item.type"></div>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle [innerHTML]="item.subtitle | safeHtml">
      </ion-card-subtitle>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

</div>
