@import "../../../../../global.scss";

.profile-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ion-label {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }

  ion-card {
    border: solid 1px var(--ion-color-primary);

    ion-card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  // padding-right: 16px;
}

em {
  color: var(--ion-color-primary) !important;
}

.emph {
  color: var(--ion-color-primary);
}

.poly-fill {
  fill: var(--ion-color-light);
}

.hex-wrapper {
  position: relative;
  z-index: 999;
}

.text-icon {
  position: absolute;
  top: 16px;
  left: 14px;
  font-size: 24px;
  color: var(--ion-color-primary);
}

.center {
  padding-left: 40px;
}
