<!--TODO: 
	Based on:
	https://material.angular.io/components/sidenav/examples
	(Responsive sidenav, )
	- mobile with 100% of all screen
	- desktop wuith 100% height - width: responsive
	- toogle to close /open integrated in the header
	- menu opens over the page in desktop
-->

<ng-container>
	<mat-toolbar class="example-header">
		<mat-icon
			aria-hidden="false"
			(click)="toogleStatus()"
			aria-label="Example home icon"
			fontIcon="reorder"
		></mat-icon>
	</mat-toolbar>
	<mat-sidenav-container [hasBackdrop]="true" class="example-container">
		<!--TODO: sidebar/menu rectangle-->
		<mat-sidenav
			#sidebarControl
			[mode]="'over'"
			[(opened)]="opened"
			class="bg-warning"
			(opened)="events.push('open!')"
			(closed)="events.push('close!')"
		>
		</mat-sidenav>
		<!--TODO: sidebar/menu right side content-->
		<mat-sidenav-content>
			<app-home></app-home>
		</mat-sidenav-content>
	</mat-sidenav-container>
</ng-container>
