registry=https://pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/registry/

always-auth=true

4bdu6nsu7jmfro6klc7q5jnevuwcdl53e23gbo5pqe623j62wgxa
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/registry/:username=inovretail
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/registry/:_password="emp0MzZ6bnJjdWxwaHF4eWppbW5tZnV6N3l2aWdoaXNvaXFrNWt2eHB2NWJkN3puanZvYQ===="
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/:username=inovretail
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/:_password="emp0MzZ6bnJjdWxwaHF4eWppbW5tZnV6N3l2aWdoaXNvaXFrNWt2eHB2NWJkN3puanZvYQ=="
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/:email=notused@example.com
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/registry/:email=notused@example.com
//pkgs.dev.azure.com/inovretail/13f811ff-a4e7-4240-8ac2-06a16252dd80/_packaging/inov/npm/registry/:always-auth=true
4bdu6nsu7jmfro6klc7q5jnevuwcdl53e23gbo5pqe623j62wgxa