@import "../../../../../global.scss";

.base-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  span {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;

    min-height: 68px;
    margin-bottom: 12px;

    background-color: transparent;

    ion-item {
      flex-grow: 1;
    }

    .lib-input {
      border-radius: 0px;
      margin: 16px 4px;
      width: 100%;
      color: black !important;
    }
  }

  .btn-group {
    justify-content: flex-end;
    flex-grow: 1;

    margin-bottom: 12px;

    :first-child {
      margin-right: 12px;
    }
  }

}

// input {
//   border-radius: 0px !important;
// }

ion-input.custom {
  --padding-start: 0px !important;
}
