<div class="base-line">
  <span style="flex-grow: 2;">
    <lib-input style="margin: 16px 4px; width: 100%"
               [type]="'text'"
               [value]="observation"
               [placeholder]="''"
               [label]="'interaction.data.observation' | transloco"
               [error]="''"
               [inputName]="'observation'"
               [disabled]="false"
               (stateChange)="onKeyUp($event)">
    </lib-input>
  </span>

  <span style="justify-content: flex-end; flex-grow: 1;">
    <lib-button style="margin-right: 16px"
                [primary]="!true"
                [text]="'interaction.data.btn-discard' | transloco"
                (stateChange)="onButtonClick($event)">
    </lib-button>
    <lib-button [primary]="true"
                [text]="'interaction.data.btn-submit' | transloco"
                (stateChange)="onButtonClick($event)">
    </lib-button>
  </span>
</div>
