<div class="user-menu-wrapper">

  <!-- User Section -->
  <ion-label><b>{{ 'user.user-menu.profile' | translate }}</b></ion-label>

  <div class="profile-wrapper"
       *ngIf="userService.user$ | async as user">
    <ion-avatar class="menu-avatar">
      <img alt="Silhouette of a person's head"
           [src]="user.avatar" />
    </ion-avatar>

    <div class="avatar-name">
      <ion-label class="user-name"
                 color="primary">
        <b>{{user?.name}}</b>
      </ion-label>
      <ion-label class="user-info"
                 color="dark">
        {{'user.user-menu.form.email' | translate}}
        <b>{{user?.email}}</b>
      </ion-label>
      <ion-label class="user-info"
                 color="dark">
        {{'user.user-menu.form.role' | translate}}
        <b>{{user?.role}}</b>
      </ion-label>
      <ion-label class="user-info"
                 *ngIf="langService.lang$ | async as lang"
                 color="dark">
        {{'user.user-menu.form.language.label' | translate}}
        <b>{{'lang.' + lang | translate}}</b>
      </ion-label>
    </div>
  </div>

  <!-- User Menu Section -->
  <ion-label><b>{{ 'user.user-menu.configurations' | translate }}</b></ion-label>
  <ion-list>
    <ng-container *ngFor="let item of userMenuItems; let i = index">
      <ion-item slot="header"
                button
                lines="full"
                [color]="currentRoute === item.route ? 'light' : null"
                [disabled]="!item.active"
                [routerLink]="item.route"
                routerLinkActive="router-link-active">
        <ion-icon slot="start"
                  color="primary"
                  [name]='item?.icon'>
        </ion-icon>
        <ion-label color="primary">
          {{item.title | translate}}
        </ion-label>
        <ion-icon slot="end"
                  color="primary"
                  name="caret-forward"
                  *ngIf="currentRoute === item.route"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</div>
