@import "../../../global.scss";

#menu-image{
  width: 1rem;
  margin-left: 1.2rem;
  margin-right: 1rem;
}

#menu-close-image{
  margin-left: 1.2rem;
}

ion-menu {
  --width: 30%; 
}

ion-toolbar:first-of-type{
  --background: white;
  --border-width: 0 0 0;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  height: 64px;
  width: 150px;
}

.menu-avatar {
  align-self: center;

  width: 25%;
  height: auto;

  margin-top: 32px;

  img {
    border: solid 1px var(--ion-color-primary);
  }

  ion-label {
    margin-top: 8px;
    width: auto;
  }
}

.avatar-name {
  // width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;

  text-align: center;

  ion-label {
    font-weight: 600;
  }
}

.menu-icon-header{
  filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(235deg) brightness(107%) contrast(101%);
  margin-right: 1rem;
}

ion-menu::part(backdrop) {
  background-color: transparent;
}

ion-content{
  --padding-start: 5%;
  --padding-end: 5%;
  --padding-top: 5%;

  #sub-menu{
    margin-bottom: 50%;
  }

  ion-item{
    border: none;
    
    ion-label{
      margin-left: 5%;
      overflow: visible;
    }

    ion-label.sub-menu-title{
      margin-left: 5px;
      font-weight: bold;
    }
  }

  .sub-menu-item{
    margin-left: 2%;

    ion-label{
      color: #646464;
      margin-left: 0;
      font-size: 0.95rem;
    }

    ion-icon{
      width: 0.8em;
      color: #646464;
      margin-top: 4px;
      margin-right: 4%;
    }
  }

  #back-to-main-menu{
    margin-left: 2%;

    ion-label{
      margin-left: 0;
    }

    ion-icon{
      margin-right: 3%;
    }
  }
}

.menu-item{
  margin-bottom: 10px;
}

.menu-containers{
  ion-label{
    overflow: visible;
    font-weight: 600;
  }

  ion-label.sub-menu-title{
    margin-left: 5px;
    font-weight: bold;
  }
}

#sub-menu-header{
  --border-color: black;
}

.footer-item{
  ion-label{
    font-size: 0.7rem;
    font-weight: 800 !important; //TODO: arranjar maneira de tirar o important
  }

  ion-icon{
    margin-bottom: 0 !important; //TODO: arranjar maneira de tirar o important
  }
}

@media (prefers-color-scheme: light) {
  #inov-fitness-logo {
    background-image: url("../../../assets/images/logoBlack.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (prefers-color-scheme: dark) {
  #inov-fitness-logo {
    background-image: url("../../../assets/images/logoWhite.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

ion-footer {
  ion-toolbar {
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: var(--ion-color-light);

      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        padding-right: 24px;
      }

      .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 12px 8px;
        min-width: 64px;

        ion-icon {
          margin-bottom: 8px;
          font-size: 24px;
        }

        ion-label {
          font-weight: 600;
        }
      }
    }

  }
}

@media screen and (max-width: 580px) {
  ion-menu {
    // Makes side menu width 100% for sm devices (phones)
    --min-width: 90%;
  }

  #menu-other-options{
    display: none;
  }
}

ion-item {
  --border-color: var(--ion-color-primary);
}

ion-accordion {
  border-bottom: solid 0.25px var(--ion-color-primary);
}


ion-radio {
  width: -webkit-fill-available;

  :host(label) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

}

.radio-item {
  --border-color: transparent;
}

ion-radio-group {
  display: flex;
  flex-direction: column;
}

#main-content{
  background-image: url("../../../assets/images/background-inov.PNG");
  background-size: cover;
}