@import "../../../global.scss";

.logo {
  height: 64px;
  width: 150px;
}

.menu-avatar {
  align-self: center;

  width: 25%;
  height: auto;

  margin-top: 32px;

  img {
    border: solid 1px var(--ion-color-primary);
  }

  ion-label {
    margin-top: 8px;
    width: auto;
  }
}

.avatar-name {
  // width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;

  text-align: center;
}

@media (prefers-color-scheme: light) {
  #inov-fitness-logo {
    background-image: url("../../../assets/images/logoBlack.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (prefers-color-scheme: dark) {
  #inov-fitness-logo {
    background-image: url("../../../assets/images/logoWhite.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

ion-footer {
  ion-toolbar {
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: var(--ion-color-light);

      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        padding-right: 24px;
      }

      .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 12px 8px;
        min-width: 64px;

        ion-icon {
          margin-bottom: 8px;
          font-size: 24px;
        }
      }
    }

  }
}

@media screen and (max-width: 580px) {
  ion-menu {
    // Makes side menu width 100% for sm devices (phones)
    --min-width: 100%;
  }
}

ion-item {
  --border-color: var(--ion-color-primary);
}

ion-accordion {
  border-bottom: solid 0.25px var(--ion-color-primary);
}

// .ion-page {
//   // margin-top: 26px;
// }
