<!-- SideBar Closed -->
<ion-header type="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button class="pic">
          <img class="pic" src="assets/icons/menu.svg"
        /></ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <div class="logo" id="inov-fitness-logo"></div>
  </ion-toolbar>
</ion-header>

<!-- SideBar Opened -->
<ion-menu contentId="mainContent" type="push">
  <ion-header type="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-button class="pic">
              <img class="pic" src="assets/icons/close.svg"
            /></ion-button>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>

      <div class="logo" id="inov-fitness-logo"></div>
    </ion-toolbar>
  </ion-header>

  <!-- User Section -->
  <ion-avatar class="menu-avatar" (click)="navigate('/platform/user/profile')">
    <img alt="Silhouette of a person's head" [src]="profilePhoto" />
  </ion-avatar>
  <div class="avatar-name" (click)="navigate('/platform/user/profile')">
    <ion-label color="primary">{{ userName }}</ion-label>
  </div>

  <!-- Menu Section -->
  <ion-content>
    <ng-container *ngFor="let item of menuItems; let i = index">
      <!-- Menu Item -->
      <ion-item *ngIf="!item.subMenu" lines="full" button detail="false">
        <ion-icon slot="start" color="primary" [name]="item?.icon"> </ion-icon>
        <ion-label style="font-weight: 600" slot="start" color="primary">
          {{ item.title | translate }}
        </ion-label>
      </ion-item>

      <!-- Menu Item with SubItems -->
      <ion-accordion-group [multiple]="true" *ngIf="item.subMenu">
        <ion-accordion [value]="i" color="primary">
          <ion-item
            slot="header"
            lines="full"
            [routerLink]="item?.url ? [item?.url] : null"
            routerLinkActive="router-link-active"
          >
            <ion-icon slot="start" color="primary" [name]="item?.icon">
            </ion-icon>
            <ion-label style="font-weight: 600" slot="start" color="primary">
              {{ item.title | translate }}
            </ion-label>
          </ion-item>

          <!-- Sub Menu Item -->
          <ion-item
            *ngFor="let subItem of item.subMenu"
            [routerLink]="subItem?.url ? [subItem?.url] : null"
            detail="false"
            lines="none"
            (click)="toggleMenu()"
            slot="content"
          >
            <ion-icon slot="start" color="dark" [name]="subItem?.icon">
            </ion-icon>
            <ion-label color="dark">
              {{ subItem.title | translate }}
            </ion-label>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ng-container>
  </ion-content>

  <!-- Footer Section -->
  <ion-footer>
    <ion-toolbar>
      <div class="footer" color="light">
        <!-- Origin -->
        <div class="footer-item" id="origin-modal">
          <img class="menu-icon" src="assets/icons/molecule.svg" />
          <ion-label slot="end" color="primary">
            {{ "menu.footer.origin.title" | translate }}
          </ion-label>
        </div>

        <!-- Origin Modal -->
        <ion-modal
          trigger="origin-modal"
          id="origin-modal"
          (willDismiss)="onWillDismiss($event)"
        >
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">
                    {{ "menu.footer.origin.close" | translate }}
                  </ion-button>
                </ion-buttons>

                <ion-title> Ginásios </ion-title>

                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">
                    {{ "menu.footer.origin.save" | translate }}
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content>
              <ion-list>
                <ion-radio-group
                  [value]="selectedOrigin"
                  (ionChange)="onOriginSelect($event)"
                >
                  <ion-radio
                    [value]="org.id"
                    *ngFor="let org of originList; let i = index"
                    labelPlacement="end"
                    justify="start"
                    slot="end"
                  >
                    <ion-item class="radio-item">
                      {{ org.name }}
                    </ion-item>
                  </ion-radio>
                </ion-radio-group>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>

        <!-- Profile -->
        <div class="footer-item" (click)="navigate('/platform/user/profile')">
          <img class="menu-icon" src="assets/icons/user.svg" />
          <ion-label slot="end" color="primary">
            {{ "menu.footer.profile.title" | translate }}
          </ion-label>
        </div>

        <!-- Logout -->
        <div class="footer-item" slot="end" (click)="logOut()">
          <img class="menu-icon" src="assets/icons/bell.svg" />
          <ion-label slot="end" color="primary">
            {{ "menu.footer.logout.title" | translate }}
          </ion-label>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Page section -->
<div class="ion-page" id="mainContent" main>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</div>
