@import '../../../core/styles/base.scss';

.lg-left {
  width: 0%;
  text-align: center;
}

.lg-right {
  width: 100%;
}

.logo {
  width: 420px;
  height: 160px;
}

.submit-button {
  border: 0;
  border-radius: 0.5rem;
  width: 70%;
  font-weight: bold;
}

.background-shape {
  border-bottom-left-radius: 96px;
  border-top-right-radius: 118px;
  border-bottom-right-radius: 23px;
  border-top-left-radius: 62px;
  background: #f17a59;
  box-shadow: inset -46px -46px 92px #be6046, inset 46px 46px 92px #ff946c;
}

.orage {
  display: flex;
  margin-top: 30px;
}

.forgot-label {
  text-align: left;
}

lib-button {
  text-align: end;
}

lib-spinner {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .lg-left {
    width: 50%;
  }
  .lg-right {
    align-self: center;
    width: 50%;
  }
}
