<div class="d-flex h-100">
	<!--Left section-->
	<div class="lg-left"></div>
	<!--Right section-->
	<div class="lg-right">
		<div class="text-center mt-5">
			<img
				*ngIf="!dark"
				class="logo"
				[alt]="'InovFitness'"
				src="./assets/images/core/logoBlack.png"
			/>
			<img
				*ngIf="dark"
				class="logo"
				[alt]="'InovFitness'"
				src="./assets/images/core/logoWhite.png"
			/>
		</div>
		<form
			[formGroup]="authForm"
			class="login-container d-flex flex-column text-center m-5"
		>
			<app-input
				formControlName="email"
				[text]="'email' | transloco"
				[type]="'email'"
			></app-input>
			<app-input
				formControlName="password"
				[text]="'password' | transloco"
				[type]="'password'"
			></app-input>
			<div class="align-self-center w-100">
				<span class="align-self-center">{{ 'login.forgot_link' | transloco }}</span>
				<button mat-button (click)="signIn()">
					{{ 'login.login' | transloco }}
				</button>
			</div>
		</form>
	</div>
</div>
