@import "../../../../global.scss";

.login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding-top: 40px;

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .pic {
      width: 550px;
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;

    .logo {
      align-self: center;
      width: -webkit-fill-available;
    }
  }
}

.logo {
  min-width: 375px;
  min-height: 160px;
}

.btn-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 32px;
}

form {
  margin: 0px 16px;
  // .email-group {}
  // .pwd-group {}
}

@media screen and (max-width: 768px) {
  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-section {
      .pic {
        width: 320px;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  #inov-fitness-logo {
    background-image: url("assets/images/logoBlack.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (prefers-color-scheme: dark) {
  #inov-fitness-logo {
    background-image: url("assets/images/logoWhite.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.passwordIcon {
  font-size: 2rem !important;
  position: relative !important;
  top: 24px !important;
  margin: 0 auto !important;
}