<div class="base-line">

  <!-- Comments Input -->
  <span *ngIf="!!observation">
    <ion-item>
      <ion-label position="floating"> {{'interaction.data.observation' | translate}} </ion-label>
      <ion-input class="custom"
                 mode="md"
                 type="text"
                 [value]=observation
                 [placeholder]="''"
                 label="Floating label"
                 labelPlacement="floating"
                 [disabled]="!displayBtn"
                 (ionChange)="onKeyUp($event)"></ion-input>
    </ion-item>
  </span>

  <!-- Buttons -->
  <span class="btn-group">
    <ion-button fill="outline"
                *ngIf="displayBtn"
                (click)="onButtonClick(false)">{{'interaction.data.btn-discard' | translate}} </ion-button>
    <ion-button fill="solid"
                *ngIf="displayBtn"
                (click)="onButtonClick(true)">{{'interaction.data.btn-submit' | translate}}</ion-button>
  </span>
</div>
