@import "../../../../../../global.scss";

.checkbox-field {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 16px;
}

.question-answer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.c-label {
  padding-left: 5px;
  padding-right: 10px;
}
.c-title {
  width: 50%;
}
